<%include partials/header%>
<div class="container">
        
    <div class="row">
        <h1>Edit a  Comment</h1>
        <div  style="width:30%; margin: 0 auto;">
            <form  action="/campgrounds/<%=campgrounds_id%>/comments/<%=comments._id%>/edit?_method=put" method="POST">
                <div class="form-group">
                     <input type="text" name="comments[text]" class="form-control" value="<%=comments.text%>" placeholder="Text">
                
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-default btn-block" >Submit</button>
                </div>
            </form>
        </div>
    </div>
    <a href="/campgrounds" class="btn btn-primary">Show Campgrounds</a>
</div>
<% include partials/footer %>